@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

*{
    padding: 0;
    margin: 0;
    font-family: Poppins, sans-serif;
}

#parent{
    background: url("./assets/bg.png");
    background-size: cover;
    background-color: #070707;
    background-repeat: no-repeat;
    height: 100vh;
}

#heading{
    color:rgb(90, 37, 192);
    font-size: 3em;
    font-weight: 900;
    display: flex;
    justify-content: center;
    position: relative;
    top: 90px;
}

#hand-img img{
    width: 28%;
    position: relative;
    top: 120px;
    left: 300px;
}

#play{
    display: flex;
    color: white;
    align-items: center;
    justify-content: end;
    font-weight: 900;
    margin-right: 400px;
    margin-top: 100px;
    font-size: large;
}

#play img{
    width: 3%;
    margin-right: 10px;
}

#score{
    color: white;
    font-size: 3.5em;
    display: flex;
    justify-content: center;
    position: relative;
    top: 40px;
}

.game-area{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 60px;
}

#versus{
    width: 80px;
    height: auto;
}

.you{
    border: 1px solid #ffc434;
    height: 300px;
    width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-bottom: 20px;
    padding-top: 20px;
}

.computer{
    border: 1px solid #ffc434;
    height: 300px;
    width: 300px;
    display: flex;
    flex-direction: column;
    padding-bottom: 20px;
    padding-top: 20px;
}

#options{
    display: flex;
    justify-content: space-around;
    align-items: end;
}

.game-area span{
    color: white;
    font-size: 2em;
    display: flex;
    justify-content: center;
}

#paper-logo, #rock-logo, #scissors-logo{
    width:60px;
    height: 60px;
    position: sticky;
}

.result{
    display: flex;
    color: white;
    font-size: 2em;
    align-items: center;
    margin-top: 20px;
    flex-direction: column;
}

#playAgain{
    background-color: #ffc434;
    margin-top: 10px;
    padding: 10px;
    border-radius: 20px;
    font-size: 0.6em;
}

