*{
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    flex-direction: column;
    background-image: url('./assets/bg.png');
    background-size: cover;
    background-color: #070707;
    background-repeat: no-repeat;
    align-items: center;
}
header{
    color: rgb(90, 37, 192);
    font-size: 60px;
    text-align: center;
    margin-top: 40px;
}
span{
    color: white;
    font-size: 30px;
    margin-left: 30px;
}
#playAgain{
    display: flex;
    align-items: center;
    margin-right: 80px;
    margin-bottom: 150px;
}
#playAgain img{
    height: 60px;
    width: 60px;
    
}

#play{
    height: 500px;
    width: 500px;
}

.container{
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-top: 100px;
}

a{
    text-decoration: none;
}
